
    <li class=""><a href='@Url.Action("popis_mentora","Admin")'><i class="icon-angle-right"></i> Popis mentora </a></li>
    <li class=""><a href='@Url.Action("popis_mentora_detalji","Admin")'><i class="icon-angle-right"></i> Dodaj mentora </a></li>
    <li class=""><a href='@Url.Action("popis_mentora_2","Admin")'><i class="icon-angle-right"></i> Popis svih studenata </a></li>
    <li class=""><a href='@Url.Action("popis_studijskih_programa","Admin")'><i class="icon-angle-right"></i> Popis studijskih programa </a></li>
    <li class=""><a href='@Url.Action("strucna_praksa","Admin")'><i class="icon-angle-right"></i> Stručna praksa </a></li>
    <li class=""><a href='@Url.Action("dnevnik_prakse","Admin")'><i class="icon-angle-right"></i> Dnevnik prakse </a></li>

