<li class=""><a href='@Url.Action("o_praksi","Admin")'><i class="icon-angle-right"></i> Popis studenata </a></li>
 
<li class=""><a href='@Url.Action("popis_studijskih_programa","Admin")'><i class="icon-angle-right"></i> Popis studijskih programa </a></li>
<li class=""><a href='@Url.Action("poduzeca","Admin")'><i class="icon-angle-right"></i> Poduzeca </a></li>
 
<li class=""><a href='@Url.Action("strucna_praksa","Admin")'><i class="icon-angle-right"></i> Stručna praksa </a></li>
<li class=""><a href='@Url.Action("dokumenti","Admin")'><i class="icon-angle-right"></i> Dokumenti </a></li>
